table
{
    font: "WingDings";
    font-size: 20px;
    text-align:center;
    border-color: red;
}
th, td 
{
    border-color: red;}

#battleground
{
    background-image: ulr("Ресурсы\thumb.jpg") 
}
#elven
{
    color:whitesmoke;
    background-color: black;
}
#drow
{
    color:darkmagenta;
    background-color: aqua;
}
#mage
{
    position:relative;
    object-position: 100px;
}
#battleground
{
    position:absolute;
}
